<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar persona</title>
</head>
<body>

<tr th:object="${persona}">
    <td><span th:text="${persona.nombre}" /></td>
    <td><span th:text="${persona.apellido}" /></td>
    <td><span th:text="${persona.dni}" /></td>
</tr>

<form action="#" th:action="@{/personas/guardar/{id}(id=${persona.id})}" th:object="${persona}" method="post">
    <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
    <p>Apellido: <input type="text" th:field="*{apellido}" /></p>
    <p>DNI: <input type="text" th:field="*{dni}" /></p>
    <button type="submit">Guardar</button>
</form>

</body>
</html>